/* Estilo geral */
body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff; /* Fundo branco */
    color: #333;
}

header {
    background-color: #000; /* Fundo preto */
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;
}

header .top-buttons {
    display: flex;
    gap: 15px;
}

header .top-buttons a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #333; /* Botões pretos */
    border-radius: 5px;
    transition: background-color 0.3s;
}

header .top-buttons a:hover {
    background-color: #555; /* Hover dos botões pretos */
}

main {
    padding: 20px;
    text-align: center;
}

.intro, .features, .results, .cta, .faq {
    margin: 20px 0;
}

.intro h2, .features h2, .results h2, .cta h2, .faq h2 {
    color: #000; /* Títulos pretos */
    font-size: 2em;
}

.intro p, .cta p, .faq p {
    font-size: 1.2em;
}

.btn-primary {
    background-color: #333; /* Botões pretos */
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #555; /* Hover dos botões pretos */
}

.features ul {
    list-style-type: none;
    padding: 0;
}

.features li {
    background-color: #333; /* Fundo preto dos itens */
    color: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.features li:hover {
    background-color: #555; /* Hover dos itens pretos */
}

.results {
    padding: 50px;
    text-align: center;
    background: #fff; /* Fundo branco */
}

.results .elementor-heading-title {
    margin-bottom: 20px;
}

.card-panel {
    background-color: #333; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
}

.card-panel h2 {
    color: white; /* Títulos pretos */
    font-size: 1.8em;
    margin-bottom: 20px;
}

.card-panel ul {
    list-style-type: none;
    padding: 0;
}

.card-panel ul li {
    color: white;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card-panel a.btn {
    background-color: rgb(28, 170, 158); /* Botões pretos */
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    display: inline-block;
    margin-top: 20px;
}

.card-panel a.btn:hover {
    background-color: red; /* Hover dos botões pretos */
}

.card-panel p {
    color: #888;
    margin-top: 10px;
}


.owl-carousel .item {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', Arial, sans-serif;
}

.owl-carousel .item img {
    width: auto; /* Ajusta o tamanho das imagens automaticamente */
    max-height: 700px; /* Altura máxima das imagens */
    max-width: 500%; /* Garante que as imagens não ultrapassem o contêiner */
}

.owl-carousel {
    margin-top: 20px;
}

/* Estilo do Rodapé */
footer {
    background-color: #000; /* Fundo preto */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Estilo para Perguntas Frequentes */
.faq {
    background-color: #333;
    border: 1px solid #555;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.faq h2 {
    color: #ffffff; /* Título das perguntas frequentes pretos */
    font-size: 200%;
    margin-bottom: 20px;
}

.faq-item h3 {
    color: #ffcc00; /* Cor do texto amarelo */
    display: flex; /* Para alinhar o ícone à esquerda */
    align-items: center; /* Alinhar verticalmente */
}

.faq-icon {
    margin-right: 8px; /* Espaçamento entre o ícone e o texto */
    font-size: 1.2em; /* Tamanho do ícone */
}

.faq-item p {
    display: none;
    color: #eeeeee; /* Respostas das perguntas frequentes cinza escuro */
    font-size: 1.2em;
    line-height: 1.6;
}

.faq-item.active p {
    display: block;
}

/* Estilos para os cartões */
.cartoesper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card {
    width: calc(33.33% - 10px); /* Ajuste de margens para os cartões ficarem lado a lado */
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}






.card:hover {
    transform: scale(1.05);
    z-index: 1;
}






body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

/* Estilo para os botões */
.btn {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #333;
    color: #fff;
}

/* Estilo para os cartões */
.card {
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 80%;
    height: auto;
    border-radius: 0px;
}

/* Estilo para perguntas frequentes */
.faq-item {
    margin-bottom: 20px;
    cursor: pointer;
}

.faq-item h3 {
    margin-bottom: 10px;
    cursor: pointer;
}

.faq-item p {
    display: none;
}

.faq-item.active p {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .top-buttons a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    transition: color 0.3s;
}

header .top-buttons a:hover {
    color: #ffd700;
}

header .logo h1 {
    margin: 0;
}

.product-combo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    margin: 2rem;
}

.combo-images {
    display: flex;
}

.combo-item {
    text-align: center;
    margin: 0 1rem;
}

.combo-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    transition: transform 0.3s;
}

.combo-item img:hover {
    transform: scale(1.05);
}

.combo-item .original-price {
    color: #ff6347;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.combo-item .link-info {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #1e90ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.combo-item .link-info:hover {
    background-color: #1c86ee;
    transform: scale(1.05);
}

.combo-details {
    text-align: center;
    max-width: 400px;
}

.combo-details h3 {
    font-size: 2rem;
    color: #ffd700;
    margin-bottom: 0.5rem;
}

.combo-details p {
    font-size: 1.2rem;
    color: #ddd;
    margin-bottom: 1rem;
}

.combo-details .btn {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
}

.combo-details .btn:hover {
    background-color: #218838;
    transform: scale(1.05);
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: 0;
}


.primeira {
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    margin: 40px auto;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.price {
    font-size: 700%;
    margin-bottom: 20px;
}

.payment-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.payment-option {
    margin: 10px;
}

.imagensboleto {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

.cta {
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; /* Adiciona cantos arredondados */
}

.cta:hover {
    background-color: #0c0;
}

.cta-small {
    font-size: 0.8em;
    margin-top: 10px;
    display: inline-block;
}

.benefits {
    margin-top: 20px;
    list-style: disc;
    margin-left: 20px;
}

.benefits li {
    margin-bottom: 10px;
}





.p22{
font-size: 200%;
}

.cta {
    background-color: orange;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta:hover {
    background-color: darkorange;
}

#preco19{
font-size: 190%;
color: #4bbb1bff;
}
section.guarantee {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

section.guarantee h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

section.guarantee p {
    font-size: 18px;
    margin: 0;
}


 .primeira2 .intro-text {
            flex: 1;
            max-width: 50%;
            padding: 0 20px;
        }
   
        .primeira2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .primeira2 img {
            width: 40%; /* Ajuste o tamanho da imagem conforme necessário */
        }

        .intro-text {
            width: 35%; /* Ajuste o tamanho do texto conforme necessário */
        }

        .floating-image {
            animation: floatAnimation 1s infinite ease-in-out alternate;
        }
        
        /* Animação de flutuação */
        @keyframes floatAnimation {
            0% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(-30px); /* Ajuste o valor conforme necessário */
            }
        }

        @keyframes pulseAnimation {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.05);
            }
            100% {
                transform: scale(1);
            }
        }

        /* Aplicar a animação às imagens */
        .pulsating-image {
            animation: pulseAnimation 1s infinite;
        }
        
        

    
        @media (max-width: 768px) {
            .cartoesper {
                flex-wrap: wrap;
            }
            
            .primeira2 {
                flex-direction: column; /* Empilha os itens em telas menores */
                text-align: center;
            }
        
            .primeira2 img {
                width: 80%; /* Ajusta o tamanho da imagem em telas menores */
                margin: 0 auto 1rem; /* Centraliza a imagem e adiciona espaçamento inferior */
            }
        
            .primeira2 .course-info {
                text-align: center; /* Centraliza o texto */
            }

           
            .card {
                width: calc(50% - 20px); /* Ajuste para dois cartões por linha */
            }

            .product-combo {
                flex-direction: column; /* Alinha os itens em coluna */
                align-items: center; /* Centraliza os itens */
            }
        
            .combo-images {
                flex-direction: column; /* Coloca as imagens em coluna */
                align-items: center; /* Centraliza as imagens */
            }
        
            .combo-item {
                width: 100%; /* Ocupa toda a largura */
                margin-bottom: 1rem; /* Espaçamento entre os itens */
            }
        }
        
        @media (max-width: 576px) {
            .cartoesper {
                flex-wrap: wrap;
            }
        
            .card {
                width: 100%; /* Um cartão por linha em telas menores */
            }
        }
