/* Estilo geral */
body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff; /* Fundo branco */
    color: #333;
}

header {
    background-color: #000; /* Fundo preto */
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;
}

header .top-buttons {
    display: flex;
    gap: 15px;
}

header .top-buttons a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #333; /* Botões pretos */
    border-radius: 5px;
    transition: background-color 0.3s;
}

header .top-buttons a:hover {
    background-color: #555; /* Hover dos botões pretos */
}

main {
    padding: 20px;
    text-align: center;
}

.intro, .features, .results, .cta {
    margin: 20px 0;
}

.intro h2, .features h2, .results h2, .cta h2,  h2 {
    color: #000; /* Títulos pretos */
    font-size: 2em;
}

.intro p, .cta p,  p {
    font-size: 1.2em;
}

.btn-primary {
    background-color: #333; /* Botões pretos */
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #555; /* Hover dos botões pretos */
}


.features{
    margin-top: 10vh;
}
.features ul {
    list-style-type: none;
    padding: 0;
}

.features li {
    background-color: #333; /* Fundo preto dos itens */
    color: #fff;
    margin: 10px auto;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 60%;
}

.features li:hover {
    background-color: #555; /* Hover dos itens pretos */
}

.results {
    padding: 50px;
    text-align: center;
    background: #fff; /* Fundo branco */
}

.results .elementor-heading-title {
    margin-bottom: 20px;
}

.card-panel {
    background-color: #333; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
}

.card-panel h2 {
    color: white; /* Títulos pretos */
    font-size: 1.8em;
    margin-bottom: 20px;
}

.card-panel ul {
    list-style-type: none;
    padding: 0;
}

.card-panel ul li {
    color: white;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card-panel a.btn {
    background-color: rgb(28, 170, 158); /* Botões pretos */
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    display: inline-block;
    margin-top: 20px;
}

.card-panel a.btn:hover {
    background-color: red; /* Hover dos botões pretos */
}

.card-panel p {
    color: #888;
    margin-top: 10px;
}

 /* Estilo para a seção de Perguntas Frequentes */
.faq-section {
    color: #fff;
    padding: 40px 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.faq-heading {
    position: relative;
    margin-bottom: 30px;
}

.faq-heading h2 {
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
   color: white;
    padding: 0 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1; /* Garante que o título fique na frente */
}

.faq-toggle {
    max-width: 2000px;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Sombreamento */
}

.faq-item {
    margin-bottom: 20px;
}

.faq-question {
    font-weight: 700;
    line-height: 1;
    padding: 15px;
    border-bottom: 1px solid #d5d8dc;
    cursor: pointer;
    display: flex;
    justify-content: flex-start; /* Alinhamento à esquerda */
    align-items: center;
    color: #fff;
    text-align: left;
}

.faq-question .toggle-icon {
    display: inline-block;
    margin-right: 10px;
}

.faq-question[aria-expanded="true"] .toggle-icon i {
    transform: rotate(90deg);
}

.faq-answer {
    padding: 15px;
    display: none;
    color: #ccc;
    text-align: left;
}

.faq-answer[aria-expanded="true"] {
    display: block;
}

/* Ajuste da cor dos links */
.faq-title {
    color: #c7ae1e; /* Amarelo chamativo */
    text-decoration: none;
}

.faq-title:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', Arial, sans-serif;
}




/* Estilos para os cartões */
.cartoesper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card {
    width: calc(33.33% - 10px); /* Ajuste de margens para os cartões ficarem lado a lado */
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    z-index: 1;
}
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

/* Estilo para os botões */
.btn {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #333;
    color: #fff;
}

/* Estilo para os cartões */
.card {
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 80%;
    height: auto;
    border-radius: 0px;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .top-buttons a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    transition: color 0.3s;
}

header .top-buttons a:hover {
    color: #ffd700;
}

header .logo h1 {
    margin: 0;
}

.product-combo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    margin: 2rem;
}

.combo-images {
    display: flex;
}

.combo-item {
    text-align: center;
    margin: 0 1rem;
}

.combo-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    transition: transform 0.3s;
}

.combo-item img:hover {
    transform: scale(1.05);
}

.combo-item .original-price {
    color: #ff6347;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.combo-item .link-info {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #1e90ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.combo-item .link-info:hover {
    background-color: #1c86ee;
    transform: scale(1.05);
}

.combo-details {
    text-align: center;
    max-width: 400px;
}

.combo-details h3 {
    font-size: 2rem;
    color: #ffd700;
    margin-bottom: 0.5rem;
}

.combo-details p {
    font-size: 1.2rem;
    color: #ddd;
    margin-bottom: 1rem;
}

.combo-details .btn {
    display: inline-block;
    padding: 1.0rem 1.9rem;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
}

.combo-details .btn:hover {
    background-color: #218838;
    transform: scale(1.05);
}





.primeira {
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    margin: 40px auto;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.price {
    font-size: 700%;
    margin-bottom: 20px;
}

.payment-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.payment-option {
    margin: 10px;
}

.imagensboleto {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

.cta {
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; /* Adiciona cantos arredondados */
}

.cta:hover {
    background-color: #0c0;
}

.cta-small {
    font-size: 0.8em;
    margin-top: 10px;
    display: inline-block;
}

.benefits {
    margin-top: 20px;
    list-style: disc;
    margin-left: 20px;
}

.benefits li {
    margin-bottom: 10px;
}





.p22{
font-size: 200%;
}

.cta {
    background-color: orange;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta:hover {
    background-color: darkorange;
}

#preco19{
font-size: 190%;
color: #4bbb1bff;
}
section.guarantee {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

section.guarantee h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
}

section.guarantee p {
    font-size: 18px;
    margin: 0;
}


 .primeira2 .intro-text {
            flex: 1;
            max-width: 50%;
            padding: 0 20px;
        }
   
        .primeira2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .primeira2 img {
            width: 40%; /* Ajuste o tamanho da imagem conforme necessário */
        }

        .intro-text {
            width: 35%; /* Ajuste o tamanho do texto conforme necessário */
        }

        .floating-image {
            animation: floatAnimation 1s infinite ease-in-out alternate;
        }
        
        /* Animação de flutuação */
        @keyframes floatAnimation {
            0% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(-30px); /* Ajuste o valor conforme necessário */
            }
        }

        @keyframes pulseAnimation {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.05);
            }
            100% {
                transform: scale(1);
            }
        }

        /* Aplicar a animação às imagens */
        .pulsating-image {
            animation: pulseAnimation 1s infinite;
        }
        
      
::-webkit-scrollbar {
    width: 10px; /*largura da barra*/
}

/* Track */
::-webkit-scrollbar-track {
    background: #0D0D0D; /*cor do fundo*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #DFAD6B; /*cor do controle do scroll*/
    border-radius: 10px; /*arredondamento*/
    border: 2px solid #000000; /*borda*/
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(218, 171, 17); /* cor do indicador ao passar o mouse */
}


/* Estilo para o footer */
.footer {
    background-color: #222;
    color: #fff;
    padding: 40px 20px;
    position: relative;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}

.footer-inner {
    max-width: 1200px;
    margin: 0 auto;
}

/* Linha transparente com delineado no topo do footer */
.footer::before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    
}

/* Estilo para a descrição */
.description {
    margin-bottom: 20px;
}

.description p {
    font-size: 16px;
    line-height: 1.6;
    color: #ccc;
}

#porque{
    color: white;
}

/* Estilo para a seção legal */
.legal p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #777;
}

/* Link para termos de uso e política de privacidade */
.legal a {
    color: #fff;
    text-decoration: none;
}

.legal a:hover {
    text-decoration: underline;
}

/* Estilos para a seção */
.elementor-section {
    margin-bottom: 40px; /* Exemplo de margem inferior */
    text-align: center; /* Centraliza o conteúdo */
    margin-top: 5vh;
    
}

/* Estilos para os títulos */
.elementor-heading-title {
    margin: 4px 0; /* Margem superior e inferior */
   
    line-height: 1.1; /* Altura da linha */
    font-weight: bold; /* Estilo de fonte negrito */
    color: white; /* Cor do texto */
    font-size: 20px; /* Tamanho da fonte */
}

/* Estilos para as imagens */
.elementor-widget-image img {
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do contêiner */
    height: auto;
}

/* Estilos para o texto */
.elementor-widget-text-editor p {
    font-size: 17px; /* Tamanho do texto */
    
    line-height: 1.5; /* Altura da linha */
    color: white; /* Cor do texto */
    margin-bottom: 15px; /* Margem inferior */
}

/* Animação fadeInUp para widgets */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}

/* Ajuste para exibir os elementos lado a lado */
.elementor-column {
    width: 33.33%; /* Cada coluna ocupa 33% do espaço */
    float: left; /* Para alinhar as colunas lado a lado */
    box-sizing: border-box; /* Garante que padding e bordas não aumentem a largura */
    padding: 0 15px; /* Espaçamento interno das colunas */
}

.social-button {
    display: inline-block;
    margin-right: 10px;
   margin-top: 15vh;
    width: 40%;
    height: 40PX;
    padding: 10px 15px; /* Ajuste o padding conforme necessário */
    font-size: 24px; /* Tamanho da fonte */
    border: 1px solid #ccc; /* Borda opcional */
    border-radius: 5px; /* Borda arredondada */
    text-decoration: none;
    color: #fff;
    background-color: #007bff; /* Cor de fundo */
    border-radius: 6px 6px 6px 6px;
    transition: background-color 0.3s ease;
}

.social-button:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
    
}


.social-button i {
    margin-right: 10px;
    font-size: 20px;
}

.instagram {
    background-image: linear-gradient(18090deg, #FC01C4 0%, #FFC200 100%);
}

.instagram:hover {
    background-color: #C13584;
}

.telegram {
    background-color: #0088cc;
}

.telegram:hover {
    background-color: #004A72;
}


@media (max-width: 768px) {
    .elementor-column {
        width: 100%; /* Coluna ocupa 100% do espaço em dispositivos menores */
        float: none; /* Remove o alinhamento lado a lado */
        padding: 0; /* Remove o espaçamento interno das colunas */
        margin-bottom: 20px; /* Mantém a margem inferior para espaçamento entre colunas */
    }

    .features{
        margin-top: 10vh;
    }
    .social-button {
        font-size: 13px; /* Reduz o tamanho da fonte */
        padding: 6px 10px; /* Reduz o padding */
        margin-right: 5px; /* Ajusta a margem */
        margin-top: 3vh;
    }
}



        @media (max-width: 768px) {
            .cartoesper {
                flex-wrap: wrap;
            }
            
            
            .primeira2 {
                flex-direction: column; /* Empilha os itens em telas menores */
                text-align: center;
            }
        
            .primeira2 img {
                width: 80%; /* Ajusta o tamanho da imagem em telas menores */
                margin: 0 auto 1rem; /* Centraliza a imagem e adiciona espaçamento inferior */
            }
        
            .primeira2 .course-info {
                text-align: center; /* Centraliza o texto */
            }

           
            .card {
                width: calc(50% - 20px); /* Ajuste para dois cartões por linha */
            }

            .product-combo {
                flex-direction: column; /* Alinha os itens em coluna */
                align-items: center; /* Centraliza os itens */
            }
        
            .combo-images {
                flex-direction: column; /* Coloca as imagens em coluna */
                align-items: center; /* Centraliza as imagens */
            }
        
            .combo-item {
                width: 100%; /* Ocupa toda a largura */
                margin-bottom: 1rem; /* Espaçamento entre os itens */
            }
        }
        
        @media (max-width: 576px) {
            .cartoesper {
                flex-wrap: wrap;
            }
        
            .card {
                width: 100%; /* Um cartão por linha em telas menores */
            }
        }
