body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .top-buttons a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    transition: color 0.3s;
}

header .top-buttons a:hover {
    color: #ffd700;
}

header .logo h1 {
    margin: 0;
}

.product-combo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    margin: 2rem;
}

.combo-images {
    display: flex;
}

.combo-item {
    text-align: center;
    margin: 0 1rem;
}

.combo-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    transition: transform 0.3s;
}

.combo-item img:hover {
    transform: scale(1.05);
}

.combo-item .original-price {
    color: #ff6347;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.combo-item .link-info {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #1e90ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.combo-item .link-info:hover {
    background-color: #1c86ee;
    transform: scale(1.05);
}

.combo-details {
    text-align: center;
    max-width: 400px;
}

.combo-details h3 {
    font-size: 2rem;
    color: #ffd700;
    margin-bottom: 0.5rem;
}

.combo-details p {
    font-size: 1.2rem;
    color: #ddd;
    margin-bottom: 1rem;
}

.combo-details .btn {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
}

.combo-details .btn:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.reviews {
    padding: 2rem;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    margin: 2rem;
}

.review {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.review img {
    border-radius: 50%;
    width: 50px;
    margin-right: 1rem;
}

.review p {
    margin: 0;
    color: #ddd;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: 0;
}
